name: Cross version tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  gradle-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        gradleVersion: ["6.8.3", "6.9.4", "7.0.2", "8.0.2", "8.14.3"]
    steps:
      - name: git clone
        uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Set up TestLens
        uses: testlens-app/setup-testlens@main
      - run: "./gradlew test${{ matrix.gradleVersion }}"
